<html>
<head>
	<title>details</title>
	<body>
		<div id="top-navigation" align="right">
		<a href="/logout">Log out</a></div>
		<form action='/view/' method='post'>{% csrf_token %}
			<center>
			<!--input type="submit" value="view members"--> 
			welcome {{n}}</br></br>
			your details:</br></br></br></br>

	<table border="1" cell spacing="5" cell padding="25">
		<tr>
		<td>
		name</td><td> {{n}}</td></tr>
		<tr><td>age</td><td> {{a}}</td></tr>
		<tr><td>
		sex</td><td> {{ad}}</td></tr>
		<tr><td>
		address</td><td> {{e}}</td></tr>
		<tr><td>
		phno</td><td> {{p}}</td></tr>
	</body>
</head>
</html>