<html>
<head>
	<title> registration </title>
	<link rel="stylesheet" href="/site_media/css/bootstrap.css"/>
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/site_media/style.css"/>
</head>
	<body bgcolor="#DEDBF6">
<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top" style="background-color:black;">
			<div id="top-navigation" align="right">
				<a href="/view" style="color: #ADF5B9" >View Registered members</a>
				<span>|</span>			
				<a href="/logout" style="color: #ADF5B9">Log out</a>
			<center><h1><font color="white">REGISTRATION</font></h1></center>
			</div>

</div>
</div>
<div class="search">
	<form action='/ser/' method="post">{% csrf_token %}
		<table>
			<tr>
			<td>
				<input  width="20"type="text" name="search" value="Search by name" onblur="if (this.value == ''){this.value = 'Search by name'; }" onfocus="if (this.value == 'Search by name') {this.value = '';}"/>
			</td><td><input type="submit" value="go" /></td></tr>

		</table>
	
		
	</form>
	</div>

	<div class="sat" >	
		<h4>Register student details</h4> 
		<form action='/reg/' method='post'>
			<table>
				<tr> <td>Name:</td><td><input type="text" name="name"></td></tr>
				<tr>  <td>Age:</td><td><input type="text" name="age"></td></tr>
				<tr> <td>Sex: </td><td><input type="text" name="sex"></td></tr>
				<tr> <td>Address:</td><td><input type="text" name="addr"></td></tr>
				<tr> <td>Phno: </td><td><input type="text" name="pno"></td></tr>
				<tr><td></td><td><input type="submit" value="register"></td></tr>
			</table>
	</form>
	</div>
	
		<!--input type="submit" value="view members" onclick="db1.html"-->


</body>
</head>
</html>