<html>
<head>
	<title>search</title>
	<form method='post'>
	<body> details of {{un}}</br></br>
	
{%  for i in res %}
{{i.name}}</br>
{{i.age}}</br>
{{i.sex}}</br>
{{i.address}}</br>
{% endfor %}
	</body>
</head>
</html>